---
// Component Imports
import BaseHead from "../components/BaseHead.astro";
import BlogHeader from "../components/BlogHeader.astro";

let title = "About";
let description = "The perfect starter for your perfect blog.";
let permalink = "https://example.com/";
---

<html lang="en">
  <head>
    <!-- <BaseHead title={title} description={description} permalink={permalink} /> -->
    <BaseHead title={title} description={description} permalink={permalink} />
    <link rel="stylesheet" href="/blog.css" />
    <style>
      body { width: 100%; display: grid; grid-template-rows: 3.5rem 1fr;
      --gutter: 0.5rem; --doc-padding: 2rem; } header { width: 100%; height:
      100%; background-color: var(--theme-bg-offset); display: flex;
      align-items: center; justify-content: center; } .content { margin-top:
      4rem; margin-bottom: 8rem; } .content :global(main > * + *) { margin-top:
      1rem; } .intro { padding-bottom: 4rem; margin-bottom: 2rem; border-bottom:
      4px solid var(--theme-divider); } .intro > * { margin: 0; } .latest {
      font-size: 2.5rem; font-weight: 700; }
    </style>
  </head>
  <body>
    <BlogHeader />
    <div class="layout">
      <main class="content">
        <p>
          Hello there! I’m Tom. I’m a passionate foodie from the UK who loves
          building things with code.
        </p>
        <p>
          In 2018 I sold everything I owned, quit my job, and moved to Spain to
          become a freelance web developer. New country, new language, new
          career, new life.
        </p>
        <p>
          I already knew how to build WordPress websites using a site-builder
          plugin, but soon became curious about how things worked under the
          hood. I realised that in order to level up, I needed to learn how to
          code. I dabbled with PHP and CSS before researching where the industry
          was headed, rather than where it had been, and the community pointed
          me towards the JavaScript ecosystem.
        </p>
        <p>
          The moment I realised that I had made the right choice was when I
          solved an algorithm challenge for a cash register. The feeling of
          euphoria that came after solving the problem made all the frustration
          of getting to the solution worth it. It was blissful, and I wanted
          more!
        </p>
        <p>
          I've since aquired enough skills to build full stack web apps from
          start to finish, raised my standards by learning from experts
          in the community, and I'm excited to continue to grow as a developer. 
          I am now seeking a full-time role where I can expand my skillset and
          help a company to achieve their goals.
        </p>
      </main>
    </div>
  </body>
</html>
